@model List<Item>

@{
	Layout = "_AdminLayout";
}

@section Styles {
	<style>
		.active1 {
			background: #fff100;
			border-radius: 100px;
		}
	</style>
}

<div class="head-list">
	<span class="text">ID</span>
	<span class="text">Назва</span>
	<span class="text">Ціна</span>
</div>
<div class="list">
	<ul>
		@foreach (Item item in Model) {
			<li>
				<span class="text">@item.Id</span>
				<span class="text">@item.Name</span>
				<span class="text">@item.Price грн</span>
				<button class="btn-edit" onclick="openModal({ url: '/Admin/ModalItem', id: '@item.Id' })"><span>Редагувати</span></button>
				<button class="btn-delete" onclick="openModal({ url: '/Admin/ModalDelete', id: '@item.Id' })"><span>Видалити</span></button>
			</li>
		}
	</ul>
</div>
<button class="btn" onclick="openModal({ url: '/Admin/ModalItem', id: '-1' })">Додати товар</button>
