@model Staff

<link rel="stylesheet" href="~/css/Modal/staff.css">

<form method="post" class="card">
	<div class="card-header">
		<h3>Інформація про робітника</h3>
	</div>
	<hr>
	<div class="card-body">
		<div class="card-image">
			<img class="image" alt="@Model.Name" src="@Model.ImagePath" id="image">
			<input type="text" name="ImagePath" id="link" placeholder="Посилання" value="@Model.ImagePath" required>
		</div>
		<div class="card-info">
			<input type="text" name="Id" placeholder="ID" value="@Model.Id" hidden="hidden">
			<input type="text" name="Id_show" id="id" placeholder="ID" value="@Model.Id" disabled>
			<input type="text" name="Name" id="name" placeholder="Ім'я" value="@Model.Name" required>
			<textarea name="Description" id="price" placeholder="Опис" required>@Model.Description</textarea>
		</div>
	</div>
	<div class="card-buttons">
		<button class="btn-close" onclick="closeModal()">Закрити</button>
		<button class="btn-save" type="submit">Зберегти</button>
	</div>
</form>