@model List<Item>

@{
	Layout = "_Layout";
}

@section Styles {
	<link rel="stylesheet" href="~/css/menu.css">
	<style>
		.active2 {
			background: #fff100;
			border-radius: 100px;
		}
	</style>
}

@foreach (Item item in Model) {
	<div class="card">
		<img src="@item.ImagePath">
		<div class="info">
			<h3>@item.Name</h3>
			<p class="price">@item.Price грн</p>
			@if (User.Identity.IsAuthenticated) {
				<button class="btn" onclick="addItemToCart('@item.Id', '@User.FindFirst("id").Value')">У кошик</button>
			} else {
				<a class="btn" href="/Cart/Cart">У кошик</a>
			}
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/cart.js"></script>
}