@model List<Item>

@{
	Layout = "_Layout";
}

@section Styles {
	<link rel="stylesheet" href="~/css/menu.css">
	<style>
		.active2 {
			background: #fff100;
			border-radius: 100px;
		}
	</style>
}

@foreach (Item item in Model) {
	<div class="card">
		<img src="@item.ImagePath">
		<h3>@item.Name</h3>
		<p class="price">@item.Price</p>
		<button class="btn" onclick="addItemToCart('@item.Id', '@User.FindFirst("id").Value')">У кошик</button>
	</div>
}

@section Scripts {
	<script src="~/js/cart.js"></script>
}